@font-face { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


.reveal a:not(.image) {
  color: red !important;
 }

 img.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border:0px !important;
}

.reveal {
  font-size: 30px !important;
  color:black;
}

.reveal title {
    color:black;
}

.reveal p {
    color:black;
}

.reveal ul li {
    color:black;
}

.reveal h2 {
  font-weight: bold !important;
  color:black;
}

.reveal h1 {
	font-weight: bold !important;
  color:black !important;
}

.reveal h3 {
  color:black;
  text-transform: lowercase;
}

.reveal footer {
  	font-size: 50%;
    color:black;
}

.attribution { 
    position:absolute;
    bottom: 10px !important;
    left:0;
    font-size:0.5em;
    background: rgba(255, 255, 255, 0.25);
}

.full {
      height:100%;
      width:100%;  
}

.slides h1, h2, h3, footer, p {
  background: rgba(255, 255, 255, 0.25);
  color:#727272;
  padding: 10px !important;
}

.slides ul {
	background: rgba(255, 255, 255, 0.25);
  color:#727272;
  padding-left: 40px !important;
	padding-right: 40px !important;
}

.reveal section img {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: none !important; }